
# PlanAhead Generated IO constraints 

NET "Q" IOSTANDARD = LVCMOS18;
NET "Qb" IOSTANDARD = LVCMOS18;
NET "R" IOSTANDARD = LVCMOS18;
NET "S" IOSTANDARD = LVCMOS18;
NET "R" PULLDOWN;
NET "S" PULLDOWN;

# PlanAhead Generated physical constraints 

NET "Q" LOC = R1;
NET "Qb" LOC = P2;
NET "R" LOC = T3;
NET "S" LOC = U3;
